body {
    background-image: url("/static/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

#main {
    width: 80%;
    max-width: 1000px;
    color: #221e1d;
    border: 2px solid #221e1d;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(236,234,224,0.8);
    min-height: 90vh;
}

a {
    color: #a13312;
}

a:hover {
    color: inherit;
}

.navbar-default {
    background-color: inherit;
}

#tabs {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

h1.name {
    display: inline-block;
    margin-right: 15px;
}

i.fa-linkedin-square {
    color: #0077b5;
    vertical-align: text-bottom;
    line-height: 0.8;
}

i.fa-linkedin-square:hover {
    color: #221e1d;
}

.title {
    text-align: center;
}

.pic {
    text-align: center;
}

.main-pic {
    display: block;
    margin: 40px auto;
}

.tech-list {
    list-style-type: none;
    line-height: 2;
}

.tech-list li {
    width: 150px;
    float: left;
}

h3.tech-title, h2.tech-title {
    display: inline-block;
}

i[class^="devicon"] {
    font-size: 24px;
    vertical-align: text-bottom;
    line-height: 1.1;
}

i[class^="devicon"].small {
    font-size: 18px;
}

.project-intro {
    text-align: center;
    padding-bottom: 5px;
    margin: 10px 5px;
    border: 1px solid black;
}

.project-intro h3 {
    border-bottom: 1px solid #777;
}

.project-intro a:hover {
    text-decoration: none;
}

.project-intro a h3:hover {
    text-decoration: underline;
}

.back {
    display: block;
    margin: 30px auto 5px auto;
}

#closing {
    font-size: 22px;
}

@keyframes flash {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#cv {
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: white;
}

#cv p {
    animation: flash 1s ease-in-out 1s infinite alternate;
}

@media screen and (max-width: 768px) {

    .nav-justified {
        overflow: hidden;
    }

}

@media screen and (max-width: 400px) {
    .project-intro {
        max-width: 210px;
    }

    img {
        width: 160px;
        height: auto;
    }
}