#main {
    width: 80%;
    max-width: 1000px;
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

.title {
    text-align: center;
}

.pic {
    text-align: center;
}

.main-pic {
    display: block;
    margin: 40px auto;
}

.tech-list li {
    width: 150px;
    float: left;
}

.project-intro {
    text-align: center;
    padding-bottom: 5px;
    margin: 5px;
    border: 1px solid black;
}

.project-intro h3 {
    border-bottom: 1px solid #777;
}

.project-intro a:hover {
    text-decoration: none;
}

.project-intro a h3:hover {
    text-decoration: underline;
}

.back {
    display: block;
    margin: 10px auto;;
}