#main {
    width: 80%;
    max-width: 1000px;
    border: 2px solid black;
    margin-top: 30px;
    padding: 15px;
}

.title {
    text-align: center;
}

.pic {
    text-align: center;
}

.tech-list li {
    width: 150px;
    float: left;
}

.project-intro {
    text-align: center;
    padding-bottom: 5px;
    margin: 5px;
    border: 1px solid black;
}

.project-intro h3 {
    border-bottom: 1px solid #777;
}