{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 title">
            <h1>Robin Zigmond</h1>
            <h2>Aspiring Full Stack Developer based in the North East of England</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 pic">
            <img class="pic" src="{% static 'images/me.jpg' %}" alt="photo">
        </div>
        <div class="col-xs-12 col-sm-8">
            <p>I am skilled in both Front and Back End Development, and have a real passion for learning and writing code. I am always eager to learn new languages and technologies - and can do so very quickly. Just 8 months ago I had no knowledge of HTML, CSS, Javascript or any other language! Now I am highly skilled (see the <a href="/projects/">Portfolio</a> page for examples), and am aiming to secure my first professional position.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <h3>Technologies I am familiar with include:</h3>
            </div>
            <ul class="tech-list">
                {% for tech in techlist %}
                    <li><a href="/tech/{{ tech.formatted_name }}"><i class="{{ tech.icon }} small"></i> {{ tech.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}