{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 title">
            <i class="{{ tech.icon }}"></i>
            <h2 class="title tech-title">{{ tech.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{ tech.description }}</p>
        </div>
        {% if tech.link %}
            <div class="col-xs-12">
                <p><strong>Link:</strong> <a href="{{ tech.link }}">{{ tech.link }} </a></p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Projects I've used this tech for:</p>
        </div>
        {% for project in projects %}
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="project-intro">
                    <a href="/projects/{{ project.formatted_name }}">
                        <h3>{{ project.name }}</h3>
                        <img src="/media/{{ project.screenshot }}" alt="{{ project.name }}-screenshot" width="270" height="135">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default back" onclick="location.href='/tech/'">Back to Techs</button>
        </div>
    </div>
{% endblock %}
